# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/vietnamese_provinces_sevice
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Liquibase Configuration
SPRING_LIQUIBASE_ENABLED=true
SPRING_LIQUIBASE_CHANGELOG=classpath:/db/changelog/changelog.yaml
SPRING_LIQUIBASE_CONTEXTS=dev

# Application Configuration
SPRING_APPLICATION_NAME=vietnamese-provinces-sevice

# JPA/Hibernate Configuration (Optional - nếu anh dùng JPA)
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true

# Loki
LOKI_URL=http://host.docker.internal:3100
LOKI_TENANT_ID=vietnamese-provinces-sevice
LOG_ROOT_LEVEL=INFO

# Server
SERVER_PORT=8082

# Springdoc
SPRINGDOC_ENABLED=true
SHOW_ACTUATOR=true
